alias noturbo="echo 1 | sudo tee /sys/devices/system/cpu/intel_pstate/no_turbo"
alias stg_db_tunnel="ssh -Nf deployment@192.168.200.4 -L 44444:192.168.200.2:3306"
alias vpnfs="(cd /etc/openvpn/client && sudo openvpn --config /etc/openvpn/client/stg_yz_frontend.ovpn)"
alias vpnfp="(cd /etc/openvpn/client && sudo openvpn --config /etc/openvpn/client/prod_yz_frontend.ovpn)"
alias suspend="systemctl suspend -i"
alias vm_halt="(cd /home/norman/Development/yz-frontend && vagrant halt) && (cd /home/norman/Development/yz-api && vagrant halt)"
alias vm_up="(cd /home/norman/Development/yz-frontend && vagrant up) && (cd /home/norman/Development/yz-api && vagrant up)"
alias git_reset="git reset HEAD~1"
alias jpg_reduce="convert -quality 85% src.jpg result.jpg"
alias speedup-keys="xset r rate 250 60" 
alias ls="ls -la --color=auto"
alias enable-printer="cupsenable OfficeJet_Pro_6970"
alias gcm="git checkout master"
alias dots='git --git-dir=$HOME/.dots.git/ --work-tree=$HOME'
